server:
  port: 8083

spring:
  application:
    name: notification-service

  config:
    import: "optional:configserver:http://localhost:8888/"

  mail:
    host: smtp.gmail.com
    port: 587
    username: yourgmail@gmail.com        # TODO: change
    password: yourAppPassword            # TODO: Gmail App Password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

notification:
  email:
    exchange: booking.exchange           # MUST MATCH booking-service
    queue: booking.email.queue           # MUST MATCH booking-service
    routing-key: booking.email.key       # MUST MATCH booking-service

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

logging:
  level:
    root: INFO
    com.flightapp.notificationservice: DEBUG
