server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

spring.cloud.config.enabled: false
spring.config.import: optional:classpath:/does-not-exist.yml
